# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bigai\OneDrive - University of Vermont\UVM 2021 - 2022\S1\CS 205\205-Individual-Project-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
